/* line 1, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar {
  font-family: Helvetica,Arial,sans-serif;
  width: 150px;
  background: none repeat scroll 0 0 #FFFFFF;
}

/* line 6, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar-prevButton {
  float: left;
  border: solid 1px #ccc;
  width: 16px;
  height: 16px;
}

/* line 12, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar-nextButton {
  float: right;
  border: solid 1px #ccc;
  width: 16px;
  height: 16px;
}

/* line 19, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table {
  border-collapse: collapse;
}

/* line 23, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-caption {
  height: 30px;
}

/* line 28, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-head .ku-table-head-row th {
  font-size: 8px;
  font-weight: normal;
}

/* line 37, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-body .ku-table-row .ku-datesheet-date {
  border: 1px solid #CCCCCC;
  font-size: 11px;
  padding: 3px;
  text-align: right;
  width: 16px;
  cursor: pointer;
}

/* line 45, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-body .ku-table-row .ku-datesheet-date-selected {
  background: #aaffaa;
}

/* line 56, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-body .ku-table-row .ku-datesheet-nextMonth {
  color: #ccc;
}

/* line 59, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-body .ku-table-row .ku-datesheet-weekend {
  background: none repeat scroll 0 0 #F0F0F0;
}

/* line 63, ../../../sass/forms/fields/dayPoint.scss */
.ku-calendar .ku-sheet .ku-table .ku-table-body .ku-table-row .ku-datesheet-lastMonth {
  color: #ccc;
}
