/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/anime/_dragger.scss */
.ku-dragger-dragger {
  cursor: default;
}

/* line 2, ../sass/anime/_dragger.scss */
.ku-dragger-sizer {
  cursor: default;
}

/* line 3, ../sass/anime/_dragger.scss */
.ku-dragger-grabbed {
  z-index: 3000;
}

/* line 4, ../sass/anime/_dragger.scss */
.ku-dragger-dragger.ku-dragger-grabbed {
  cursor: move;
  position: absolute;
}

/* line 5, ../sass/anime/_dragger.scss */
.ku-dragger-sizer.ku-dragger-grabbed {
  cursor: nw-resize;
}

/* line 1, ../sass/date/_datesheet.scss */
.ku-datesheet-date {
  border: 1px solid #CCCCCC;
  cursor: default;
  font-size: 10px;
  height: 33px;
  padding: 1px 4px;
  text-align: right;
  vertical-align: bottom;
  width: 38px;
}

/* line 11, ../sass/date/_datesheet.scss */
.ku-datesheet-date:hover {
  background: #e0e0e0;
}

/* line 14, ../sass/date/_datesheet.scss */
.ku-datesheet-current {
  color: #000;
}

/* line 17, ../sass/date/_datesheet.scss */
.ku-datesheet-other {
  color: #bbb;
}

/* line 20, ../sass/date/_datesheet.scss */
.ku-datesheet-lastMonth {
  color: #aaa;
}

/* line 23, ../sass/date/_datesheet.scss */
.ku-datesheet-thisMonth {
  color: #000;
}

/* line 26, ../sass/date/_datesheet.scss */
.ku-datesheet-nextMonth {
  color: #aaa;
}

/* line 29, ../sass/date/_datesheet.scss */
.ku-datesheet-weekday {
  background: none repeat scroll 0 0 #fff;
}

/* line 32, ../sass/date/_datesheet.scss */
.ku-datesheet-weekend {
  background: none repeat scroll 0 0 #f0f0f0;
}

/* line 35, ../sass/date/_datesheet.scss */
.ku-datesheet-past {
  color: #ccc;
}

/* line 38, ../sass/date/_datesheet.scss */
.ku-datesheet-present {
  color: #00aa00;
}

/* line 42, ../sass/date/_datesheet.scss */
.ku-datesheet-date-selected,
.ku-datesheet-date-selected:hover {
  background: none repeat scroll 0 0 #CCFFBB;
}

/* line 1, ../sass/date/_calendar.scss */
.ku-calendar {
  font-size: 20px;
  padding: 8px;
  width: 400px;
}

/* line 6, ../sass/date/_calendar.scss */
.ku-calendar-prevButton {
  postion: relative;
  border: 1px solid #CCCCCC;
  height: 20px;
  width: 20px;
  float: left;
  cursor: pointer;
}

/* line 14, ../sass/date/_calendar.scss */
.ku-calendar-nextButton {
  postion: relative;
  border: 1px solid #CCCCCC;
  height: 20px;
  width: 20px;
  float: right;
  cursor: pointer;
}

/* line 22, ../sass/date/_calendar.scss */
.ku-calendar .ku-table-caption {
  margin: auto;
  position: relative;
  text-align: center;
  width: 400px;
}

/* line 28, ../sass/date/_calendar.scss */
.ku-calendar .ku-table-head-content {
  display: block;
  font-size: 10px;
  margin: 8px auto;
  position: relative;
  width: 20px;
}

/* line 35, ../sass/date/_calendar.scss */
.ku-calendar-button {
  position: relative;
  height: 13px;
  width: 12px;
  cursor: pointer;
}

/* line 41, ../sass/date/_calendar.scss */
.ku-calendar-prev {
  -moz-border-radius: 3px 0 0 0;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  background: #f3f3f3;
  float: left;
}

/* line 48, ../sass/date/_calendar.scss */
.ku-calendar-next {
  -moz-border-radius: 0 3px 0 0;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  background: #f3f3f3;
  float: right;
}

/* line 55, ../sass/date/_calendar.scss */
.ku-calendar .ku-table {
  border-collapse: collapse;
  width: 100%;
}

/* line 61, ../sass/date/_calendar.scss */
.ku-calendar .ku-table .ku-row {
  text-align: center;
}

/* line 1, ../sass/tooltips/_tooltip.scss */
.ku-tooltip {
  position: absolute;
  border: solid 1px #ccc;
  padding: 10px;
  background: #fff;
}

/* line 7, ../sass/tooltips/_tooltip.scss */
.ku-tooltip-pointer {
  position: absolute;
  border: solid 1px #ccc;
  width: 10px;
  height: 10px;
}

/* line 1, ../sass/views/_responseBox.scss */
.ku-responsebox {
  position: absolute;
  border: solid 1px #ccc;
  overflow: hidden;
  z-index: 1001;
}

/* line 7, ../sass/views/_responseBox.scss */
.ku-responsebox-content {
  position: absolute;
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 20px;
}

/* line 12, ../sass/views/_responseBox.scss */
.ku-window-disabled {
  background: none repeat scroll 0 0 #000000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: .3;
  -moz-opacity: .3;
  filter: alpha(opacity=30);
}

/* line 1, ../sass/views/_scrollPanel.scss */
.ku-scrollPanel {
  overflow: hidden;
}
