.ku-tooltip {
    position: absolute;
    border: solid 1px #ccc;
    padding: 10px;
    background: #fff;
}
.ku-tooltip-pointer {
    position: absolute;
    border: solid 1px #ccc;
    width: 10px;
    height: 10px;
}